.search-bar {
  border: 1px solid lightgray ;
  border-radius: 5px;
  padding: 10px;
}

.search-bar form {
  display: flex;
  flex-direction: column;
  
}

.search-bar button {
  padding: 12px;
  margin-top: 7px;
  background-color: lightsteelblue;
  border-radius: 5px;
  font-size: 1rem; 
  border: 1px solid lightblue;
  cursor: pointer;
}

.search-bar input {
  padding: 12px;
  font-size: 1rem;
}

.search-bar label {
  font-size: 23px;
  margin: 5px 0px 10px 0;
}